button{
  background-color:white;
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 3px;
  border-style: none;
}
alphabet{
  display: inline-block;
}
body{
  background-color:#86EDE6 ;
}
li{
  list-style: none;
  float: left;
  font-size: 30px;
  padding: 10px;
  background-color: white;;
}
button[disabled]{
  color: white;
  background-color: grey;

}
.on{
  background-color: yellow;
}
canvas {
    border: 3px #CCC solid;
    background-color: white;
}
